<div class="container-fluid">
    <app-page-title title="Catégories de produits" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div class="row mb-2">
              <div class="col-md-12 ">
                <button type="button" class="btn btn-primary nouveau" title="Saisir un nouvelle catégorie de produits" (click)="_saisie_location(largeDataModal)">Nouveau</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!--Formulaire de saisie des locations-->

    <div class="row">

      <!--Block des saisie des location-->
      <div class="col-md-8">
        <form class="needs-validation" [formGroup]="locationData" >
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-4">Saisie de commande</h4>
                  <aw-wizard [navBarLayout]="'large-empty-symbols'">
                    <aw-wizard-step>
                      <ng-template awWizardStepSymbol>
                        <i class="fas fa-cash-register"></i>
                      </ng-template>

                      <!-- Table -->
                      <div class="table-responsive">

                        <ng-template [ngIf]="viewTable == false" >
                            <app-spinner></app-spinner>
                        </ng-template>

                        <ng-template [ngIf]="viewTable == true" >
                          <table class="table mb-0 table-striped" >
                            <thead class="bg-dark text-white">
                              <tr>
                                <th style="width:5%" >Choix</th>
                                <th style="width:30%" >Produits</th>
                                <th style="width:10%" >Prix location</th>
                                <th style="width: 15%;">Durée</th>
                                <th style="width: 15%;">Quantité</th>
                                <th style="width: 15%;">Montant total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let produit of tarificationTab ; let i = index">
                                <td style="width:5%;">
                                  <input #inpcheck class="form-check-input" type="checkbox" (change)="_changeValcheck(inpcheck.checked,i)" >
                                </td>
                                <td style="width:30%" >{{produit?.r_libelle}}</td>
                                <td style="width:10%" >{{produit?.r_prix_location | mask: 'separator':' '}}</td>
                                <td style="width:15%" >{{produit?.r_duree}} jour</td>
                                <td style="width: 15%;">
                                  <input #inpqte class="form-control" min="0" value="{{produit?.qte}}" type="number" [(disabled)]="!produit.check" (change)="_valueQte(inpqte.value,i)" placeholder="">
                                </td>
                                <td style="width: 15%;">
                                  <input disabled class="form-control" type="text" value="{{produit?.total}}" mask="separator.2" placeholder="">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </ng-template>

                      </div>

                      <ul class="list-inline wizard mt-2">
                        <li class="next list-inline-item float-end"><button class="btn btn-primary" [disabled]="totalLocation.mntTotal == 0" awNextStep>Suivant</button>
                        </li>
                      </ul>
                    </aw-wizard-step>

                    <aw-wizard-step>
                      <ng-template awWizardStepSymbol>
                        <i class="fas fa-user-edit"></i>
                      </ng-template>
                      <div class="row">
                        <div class="col-12">
                          <div class="row mb-3">
                            <label class="col-md-3 col-form-label">Nom</label>
                            <div class="col-md-9">
                              <input class="form-control" name="nom" type="text" formControlName="p_nom" placeholder="">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label class="col-md-3 col-form-label">Prenoms</label>
                            <div class="col-md-9">
                              <input class="form-control" name="prenoms" type="text" formControlName="p_prenoms" placeholder="">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label class="col-md-3 col-form-label">Numéro de téléphone</label>
                            <div class="col-md-9">
                              <input class="form-control" name="tel" type="text" formControlName="p_telephone" placeholder="">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label class="col-md-3 col-form-label">Adresse email</label>
                            <div class="col-md-9">
                              <input class="form-control" name="email" type="password" formControlName="p_email" placeholder="">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label class="col-md-3 col-form-label">Description</label>
                            <div class="col-md-9">
                              <textarea class="form-control" formControlName="p_description"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Précédent</button>
                        </li>
                        <li class="next list-inline-item float-end"><button class="btn btn-primary" awNextStep>Suivant</button>
                        </li>
                      </ul>
                    </aw-wizard-step>

                    <aw-wizard-step>
                      <ng-template awWizardStepSymbol>
                        <i class="fas fa-list-alt"></i>
                      </ng-template>
                      <div class="row">
                        <div class="col-6">
                          <div class="row mb-3">
                            <label class="col-md-4 col-form-label">Date de livraison</label>
                            <div class="col-md-8">
                              <div class="input-group clockpicker">
                                <input ngbDatepicker class="form-control" placeholder="yyyy-mm-dd" formControlName="p_date_envoie" #d="ngbDatepicker">
                                <div class="input-group-append" (click)="d.toggle()">
                                  <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="row mb-3">
                            <label class="col-md-4 col-form-label">Date de retour</label>
                            <div class="col-md-8">
                              <div class="input-group clockpicker">
                                <input ngbDatepicker class="form-control" placeholder="yyyy-mm-dd" formControlName="p_date_retour" #f="ngbDatepicker">
                                <div class="input-group-append" (click)="f.toggle()">
                                  <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label class="col-md-2 col-form-label">Description</label>
                        <div class="col-md-10">
                          <textarea class="form-control"></textarea>
                        </div>
                      </div>

                      <div class="mb-2">
                        <label class="">Gérer la logistique</label>&nbsp;
                        <input #inplogistik class="form-check-input" type="checkbox" (click)="_gestionLogistik(inplogistik.checked)">
                      </div>


                      <fieldset class="form-control mb-4" *ngIf="logistik" >

                        <div class="row mb-3">
                          <div class="col-md-6">
                            <div class="row mb-3">
                              <label class="col-md-4 col-form-label">Commune depart</label>
                              <div class="col-md-8">
                                <ng-select [items]="selectValue" (change)="_test($event)" formControlName="p_commune_depart" [(ngModel)]="selectedCity" disabled ></ng-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row mb-3">
                              <label class="col-md-4 col-form-label">Destination</label>
                              <div class="col-md-8">
                                <ng-select [items]="selectValue" (change)="_test($event)" formControlName="p_commune_arrive" [(ngModel)]="selectedCity" ></ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="row mb-3">

                          <div class="col-md-6">
                            <div class="row mb-3">
                              <label class="col-md-4 col-form-label">Véhicule</label>
                              <div class="col-md-8">
                                <ng-select [items]="selectValue" formControlName="p_vehicule" (change)="_test($event)" ></ng-select>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row mb-3">
                              <label class="col-md-4 col-form-label">Frais de transport</label>
                              <div class="col-md-8">
                                <input class="form-control" name="tel" type="text" formControlName="p_frais" placeholder="">
                              </div>
                            </div>
                          </div>
                          
                        </div>

                      </fieldset>


                      <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Précédent</button>
                        </li>
                        <li class="next list-inline-item float-end"><button class="btn btn-primary" awNextStep>Suivant</button>
                        </li>
                      </ul>
                    </aw-wizard-step>

                    <aw-wizard-step>
                      <ng-template awWizardStepSymbol>
                        <i class="fas fa-check-circle"></i>
                      </ng-template>
                      <div class="row justify-content-center">
                        <div class="col-lg-6">
                          <div class="text-center">
                            <div class="mb-4">
                              <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                            </div>
                            <div>
                              <h5>Confirm Detail</h5>
                              <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item">
                          <button class="btn btn-primary" awPreviousStep>Précédent</button>
                          <button class="btn btn-primary" type="button" style="float: right" (click)="_registerLocations()">Enregistrer</button>
                        </li>
                      </ul>
                    </aw-wizard-step>
                  </aw-wizard>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12">
                <label for="validationCustom01">LIbellé de la catégorie</label>
                <input type="text" class="form-control">



            </div>
          </div> -->
        </form>
      </div>

      <!--Block des récaputilatifs-->
      <div class="col-md-4">
        <form class="needs-validation">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-4">Total Produits: ({{totalLocation.qteproduits}})</h4>
                  <div class="mt-2" *ngFor="let prd of recapTab">
                    <h5 class="font-size-15 text-uppercase">{{prd.r_libelle}}</h5>
                    <span class="text-muted mb-0">{{prd.qte}} x {{prd.r_prix_location}} = {{prd.total}}</span>
                    <hr>
                  </div>
                  <h5 class="card-title mb-4">Total : <span class="text-danger" ><strong>{{totalLocation.mntTotal | mask: 'separator':' '}}</strong></span></h5>
                  <h5 class="card-title mb-4">Nouveau Total : <span class="text-danger" ><strong>{{totalLocation.mewTotal | mask: 'separator':' '}}</strong></span></h5>


                  <fieldset class="form-group border p-3">
                    <legend class="w-auto px-2">Rémises</legend>
                    <div class="row mb-3">
                      <label class="col-md-5 col-form-label">en %</label>
                      <div class="col-md-7">
                        <input #percent class="form-control" name="remise" type="text" value="0" mask="000" [(ngModel)]="remisepercent" [disabled]="totalLocation.mntTotal == 0" (keyup)="_calculateRemise(percent.value, 'percent')" placeholder="">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-5 col-form-label">Montant fixe </label>
                      <div class="col-md-7">
                        <input #mtnreduce class="form-control" name="remise" type="text" value="0" [(ngModel)]="remisemnt" [disabled]="totalLocation.mntTotal == 0" (keyup)="_calculateRemise(mtnreduce.value, 'mntfixe')" placeholder="">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-5 col-form-label">Nouveau montant</label>
                      <div class="col-md-7">
                        <input #newMntTotal class="form-control" name="remise" type="text" value="0" [(ngModel)]="remisenewmnt" [disabled]="totalLocation.mntTotal == 0" (keyup)="_calculateRemise(newMntTotal.value, 'newmnt')" placeholder="">
                      </div>
                    </div>
                  </fieldset>

                  

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

</div>


<!-- Large Modal -->
<ng-template #largeDataModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">{{modalTitle}}</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
      <form class="needs-validation">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-4">Icon Wizard</h4>
                <aw-wizard [navBarLayout]="'large-empty-symbols'">
                  <aw-wizard-step>
                    <ng-template awWizardStepSymbol>
                      <i class="fas fa-user"></i>
                    </ng-template>
                    <div class="row">
                      <div class="col-12">
                        <div class="row mb-3">
                          <label class="col-md-3 col-form-label">Email</label>
                          <div class="col-md-9">
                            <input class="form-control" name="email" type="text" placeholder="">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-md-3 col-form-label">Username</label>
                          <div class="col-md-9">
                            <input class="form-control" name="username" type="text" placeholder="">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-md-3 col-form-label">Password</label>
                          <div class="col-md-9">
                            <input class="form-control" name="password" type="password" placeholder="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="list-inline wizard mb-0">
                      <li class="next list-inline-item float-end"><button class="btn btn-primary" awNextStep>Next</button>
                      </li>
                    </ul>
                  </aw-wizard-step>

                  <aw-wizard-step>
                    <ng-template awWizardStepSymbol>
                      <i class="fas fa-user-circle"></i>
                    </ng-template>
                    <div class="row">
                      <div class="col-12">
                        <div class="row mb-3">
                          <label class="col-md-3 col-form-label">First name</label>
                          <div class="col-md-9">
                            <input class="form-control" name="email" type="text" placeholder="">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-md-3 col-form-label">Last name</label>
                          <div class="col-md-9">
                            <input class="form-control" name="username" type="text" placeholder="">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-md-3 col-form-label">Password</label>
                          <div class="col-md-9">
                            <input class="form-control" name="password" type="password" placeholder="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="list-inline wizard mb-0">
                      <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Previous</button>
                      </li>
                      <li class="next list-inline-item float-end"><button class="btn btn-primary" awNextStep>Next</button>
                      </li>
                    </ul>
                  </aw-wizard-step>

                  <aw-wizard-step>
                    <ng-template awWizardStepSymbol>
                      <i class="fas fa-check-circle"></i>
                    </ng-template>
                    <div class="row justify-content-center">
                      <div class="col-lg-6">
                        <div class="text-center">
                          <div class="mb-4">
                            <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                          </div>
                          <div>
                            <h5>Confirm Detail</h5>
                            <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="list-inline wizard mb-0">
                      <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Previous</button>
                      </li>
                    </ul>
                  </aw-wizard-step>
                </aw-wizard>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
              <label for="validationCustom01">LIbellé de la catégorie</label>
              <input type="text" class="form-control">



          </div>
        </div> -->
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" title="fermer" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
      <button type="button" title="Enregistrer" class="btn btn-primary">Enregistrer</button>
    </div>
  </ng-template>
