<div class="container-fluid">

    <app-page-title title="Tableau de bord" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4 align-self-center">
                            <h6 >Total locations (Mensuel)</h6><br>
                            <div class="text-lg-center mt-1 mt-lg-0">

                                <div class="row">
                                    <div class="col">
                                        <div>
                                            <p class="text-muted text-truncate mb-2">du mois</p>
                                            <h5 class="mb-0">{{dashOne?.total_location_mois}}</h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <p class="text-info text-truncate mb-2">en attente</p>
                                            <h5 class="mb-0">{{dashOne?.total_location_mois_att}}</h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <p class="text-success text-truncate mb-2">validées et en cours</p>
                                            <h5 class="mb-0">{{dashOne?.total_location_mois_encours}}</h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <p class="text-default text-truncate mb-2">Terminées</p>
                                            <h5 class="mb-0">{{dashOne?.total_location_mois_term}}</h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <p class="text-danger text-truncate mb-2">rejettés</p>
                                            <h5 class="mb-0">{{dashOne?.total_location_mois_rej}}</h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 offset-md-1 align-self-center">
                            <h6 >Prévisions(Mensuel)</h6><br>
                            <div class="text-lg-center mt-4 mt-lg-0">
                                <div class="row">
                                    <div class="col-3">
                                        <div>
                                            <p class="text-muted text-truncate mb-2">Nombre de livraison du jour</p>
                                            <h5 class="mb-0">{{dashOne?.nbreLivraisonJour}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div>
                                            <p class="text-muted text-truncate mb-2">Nombre de retour du jour</p>
                                            <h5 class="mb-0">{{dashOne?.nbreRetourJour}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div>
                                            <p class="text-muted text-truncate mb-2">Nombre de livraison demain</p>
                                            <h5 class="mb-0">{{dashOne?.nbreLivraisonDemain}}</h5>

                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div>
                                            <p class="text-muted text-truncate mb-2">Nombre de retour demain</p>
                                            <h5 class="mb-0">{{dashOne?.nbreRetourDemain}}</h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
                                        <i class="bx bx-archive-in"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Revenue mensuel</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h5>{{dashOne?.mnt_total_mois | mask: 'separator':' '}} | <span style="color: #a6aae2" >frais:</span> {{dashOne?.frais_mois | mask: 'separator':' '}} = {{dashOne?.mnt_total_mois + dashOne?.frais_mois | mask: 'separator':' '}} <i class="mdi mdi-chevron-up ms-1 text-success"></i></h5>
                                <!-- <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
                                        <i class="bx bx-archive-in"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Revenue du jour</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h5>{{dashOne?.mnt_total_location_jours + this.totalAvance | mask: 'separator':' '}} | <span style="color: #a6aae2" >frais:</span> {{dashOne?.fraisjr | mask: 'separator':' '}} = {{dashOne?.mnt_total_location_jours + this.totalAvance + dashOne?.fraisjr | mask: 'separator':' '}} <i class="mdi mdi-chevron-up ms-1 text-success"></i></h5>
                                <!-- <div class="d-flex">
                                    <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
                                        <i class="bx bx-archive-in"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total achat du mois</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h5>{{dashOne?.mnt_total_achat_mois | mask: 'separator':' '}} <i class="mdi mdi-chevron-up ms-1 text-success"></i></h5>

                                <!-- <div class="d-flex">
                                    <span class="badge badge-soft-warning font-size-12"> 0% </span> <span
                                        class="ms-2 text-truncate">From previous period</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <p class="mb-0">Total montant pénalité<span class="mb-0 span">
                                <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>{{dashOne?.mnt_penalite | mask: 'separator':' '}}</span></p>
                            <p class="mb-0">Total frais expédition<span class="mb-0 span">
                                <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>{{dashOne?.fraisjr | mask: 'separator':' '}}</span></p>
                            <p class="mb-0">Nbre Retour hors délais<span class="mb-0 span">
                                <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>{{dashOne?.total_location_expire | mask: 'separator':' '}}</span></p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div id="chartPie">
                        <apx-chart
                          [series]="chartOptionsPie?.series"
                          [chart]="chartOptionsPie?.chart"
                          [labels]="chartOptionsPie?.labels"
                          [responsive]="chartOptionsPie?.responsive"
                          [title]="chartOptionsPie?.title"
                        ></apx-chart>
                      </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">

                    <div id="chart">
                        <apx-chart
                          [series]="chartOptions?.series"
                          [chart]="chartOptions?.chart"
                          [xaxis]="chartOptions?.xaxis"
                          [dataLabels]="chartOptions?.dataLabels"
                          [grid]="chartOptions?.grid"
                          [stroke]="chartOptions?.stroke"
                          [title]="chartOptions?.title"
                        ></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>
