<div class="container-fluid">
  <app-page-title title="Liste des catégories de produits" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="row mb-2">
            <div class="col-md-12 ">
              <button type="button" class="btn btn-primary nouveau" title="Saisir un nouvelle catégorie de produits" (click)="fctSaisieCat(largeDataModal)">Nouveau</button>
            </div>
          </div>
          

          <!-- Search -->
          <div class="row" >
            
          </div>
          <!-- End search -->
          <!-- Table -->
          <div class="table-responsive">
            <table class="table mb-0 table-striped" >
                      <thead class="bg-dark text-white">
                        <tr>
                          <th style="width:30%" >Catégorie</th>
                          <th style="width: 55%;">Description</th>
                          <th style="width:15%" >Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let categorie of categoriesTab  | LockFilter : searChIn; let i = index">
                          <td style="width:30%" >{{categorie.r_libelle}}</td>
                          <td style="width:55%" >{{categorie.r_description}}</td>
                          <td style="width:15%">
                            <button type="button" class="btn btn-primary" (click)="fctModiCat(largeDataModal, categorie)" ><i class="fas fa-edit"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Large Modal -->
<ng-template #largeDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{modalTitle}}</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" [formGroup]="categoriesData">
      <div class="row">
        <div class="col-md-12">
            <label for="validationCustom01">LIbellé de la catégorie</label>
            <input type="text" class="form-control"  formControlName="r_libelle" [(ngModel)]="ligneCategorie.r_libelle" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="validationCustom05">Description de la catégorie</label>
            <textarea class="form-control" rows="3" formControlName="p_description" [(ngModel)]="ligneCategorie.r_description" placeholder=""></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" title="fermer" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
    <button type="button" title="Enregistrer" class="btn btn-primary" (click)="_register()">Enregistrer</button>
  </div>
</ng-template>
