<div class="container-fluid">

  <!-- page title -->
  <app-page-title title="panier" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-centered mb-0 table-nowrap align-middle">
              <thead class="table-light">
                <tr>
                  <th>Produits</th>
                  <th>Description</th>
                  <th>Prix</th>
                  <th>Quantité</th>
                  <th colspan="2">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of cartData; let i = index;">
                  <td>
                    <img src="assets/images/product/img-1.png" alt="product-img" title="product-img" class="avatar-md" />
                  </td>
                  <td>
                    <h5 class="font-size-14 text-truncate"><a routerLink="/ecommerce/product-detail"
                        class="text-dark">{{ product.r_nom_produit }}</a></h5>
                  </td>
                  <td>
                    {{ product.r_prix_vente }}
                  </td>
                  <td>
                    <div style="width: 120px;">
                      <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                        <input #stock type="number" [(ngModel)]="product.quantity" name="demo_vertical" (change)="setStock(stock, i)" class="form-control">
                      </div>
                    </div>
                  </td>
                  <td>
                    {{ product?.total }}
                  </td>
                  <td>
                    <a href="javascript:void(0);" class="action-icon text-danger"> <i
                        class="mdi mdi-trash-can font-size-18"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-4">
            <div class="col-sm-6">
              <a routerLink="/edeco/shop/products" class="btn btn-secondary">
                <i class="mdi mdi-arrow-left me-1"></i> Retour </a>
            </div> <!-- end col -->
            <div class="col-sm-6">
              <div class="text-sm-end mt-2 mt-sm-0">
                <a (click)="navigateCart()" class="btn btn-success">
                  <i class="mdi mdi-cart-arrow-right me-1"></i> Continuer </a>
              </div>
            </div> <!-- end col -->
          </div> <!-- end row-->
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-3">Détails ventes</h4>

          <div class="table-responsive">
            <table class="table mb-0">
              <tbody>
                <tr *ngFor="let item of cartData" >
                  <td>{{ item.r_nom_produit }} :</td>
                  <td>{{ item.r_sous_total }}</td>
                </tr>

                <tr>
                  <th>Total :</th>
                  <th>{{ totalAchat.value }}</th>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end table-responsive -->
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
