<div class="container-fluid">
  <!-- page title -->
  <app-page-title title="Products" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Liste des produits</h4>
          <div>
            <ul class="list-unstyled product-list">
              <li><a href="javascript: void(0);" *ngFor="let item of produitsTab" ><i class="mdi mdi-chevron-right me-1"></i>{{ item.r_nom_produit }}</a></li>
            </ul>
          </div>
          <div class="mt-4 pt-3">
            <h5 class="font-size-14 mb-3">Price</h5>
            <ng5-slider [(value)]="pricevalue" [(highValue)]="maxVal" [options]="priceoption"
              (valueChange)="valueChange($event,true)" (highValueChange)="valueChange($event,false)"></ng5-slider>
          </div>

          <span>{{ panier.length }}</span>

          <div class="clearfix">&nbsp;</div>

          <div class="text-sm-start">
            <a (click)="navigateCart()" class="btn btn-success">
              <i class="mdi mdi-truck-fast me-1"></i> Aller au panier </a>
          </div>

        </div>
      </div>

    </div>
    <div class="col-lg-9">
      <div class="row mb-3">
        <div class="col-xl-4 col-sm-6">
          <div class="mt-2">
            <h5>Produits en ventes</h5>
          </div>
        </div>
        <div class="col-lg-8 col-sm-6">
          <form class="mt-4 mt-sm-0 float-sm-end d-flex align-items-center">
            <div class="search-box me-2">
              <div class="position-relative">
                <input type="text" class="form-control border-0" placeholder="Recherche..." (input)="searchFilter($event)">
                <i class="bx bx-search-alt search-icon"></i>
              </div>
            </div>
            <ul class="nav nav-pills product-view-nav">
              <li class="nav-item">
                <a class="nav-link active" href="javascript: void(0);"><i class="bx bx-grid-alt"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript: void(0);"><i class="bx bx-list-ul"></i></a>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-sm-6" *ngFor="let product of produitsTab">
          <div class="card">
            <div class="card-body">
              <div class="product-img position-relative">
                <p class="mt-0" >En stock:</p>
                <div class="avatar-sm product-ribbon">
                  <span class="avatar-title rounded-circle bg-info">
                      {{product.r_stock}}
                  </span>
                </div>

                <img [src]="product?.path_name" height="100px;" width="130px;" alt="" class="img-fluid mx-auto d-block">
              </div>
              <div class="mt-1 text-center">
                <h5 class="mb-1 text-truncate"><a [routerLink]="['/ecommerce/product-detail',product.id]" href="javascript: void(0);" class="text-dark">{{product.r_nom_produit}} </a>
                </h5>

                <h5 class="my-0"> <b>{{product?.r_prix_vente}}</b> fcfa</h5>
                  <button type="button" class="btn btn-primary sm m-2" [disabled]=" product?.r_prix_vente == 0 || product?.r_stock == 0 " (click)="ajoutProduitPanier(product)" >Ajouter</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ngb-pagination class="pagination pagination-rounded justify-content-center mt-3 mb-4 pb-1" [collectionSize]="6" page="1"
            [maxSize]="1" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
