<div class="container-fluid">
    <app-page-title title="Liste des produits" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div class="row mb-2">
              <div class="col-md-12 ">
                <button type="button" style="float: right;" class="btn btn-primary nouveau" title="Saisir un nouvelle catégorie de produits" (click)="_saisieProduits(largeDataModal)">Nouveau</button>
              </div>
            </div>

                  <ng-template [ngIf]="viewTable == false" >
                    <app-spinner></app-spinner>
                  </ng-template>
                  <!-- Table -->
                
                  
                  <ng-template [ngIf]="viewTable == true" >

                    <div class="row" *ngIf="produitsTab.length == 0">
                      <div class="col-lg-12">
                        <div class="border p-3 rounded mt-4 text-center">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs me-3">
                                    <span
                                        class="avatar-title rounded-circle bg-warning bg-soft text-warning font-size-18">
                                        <i class="mdi mdi-bitcoin"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Aucune données</h5>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="table-responsive" *ngIf="produitsTab.length >= 1" >

                      <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                          <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="term" />
                          <i class="bx bx-search-alt search-icon"></i>
                        </div>
                      </div>

                      <div class="table-responsive">
                        <table class="table mb-0 table-striped" >
                          <thead class="bg-dark text-white">
                            <tr>
                              <th style="width:35%" >Produits</th>
                              <th style="width:15%" >Quantité en stock</th>
                              <th style="width: 30%;">Description</th>
                              <th style="width:20%" >Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let produit of paginateData | filter:term ;let i = index;">
                              <td style="width:35%" >{{produit.r_libelle}}</td>
                              <td style="width:15%" >{{produit.r_stock}}</td>
                              <td style="width:30%" >{{produit.r_description}}</td>
                              <td style="width:20%">
                                <button type="button" class="btn btn-primary" title="Modification" (click)="_actionProduits(largeDataModal, produit,'modif')" ><i class="fas fa-edit"></i></button>&nbsp;
                                <button type="button" class="btn btn-warning" title="Tarification" (click)="_actionProduits(tarificationModal, produit,'tarification')" ><i class="fas fa-money-check-alt"></i></button>&nbsp;
                                <button type="button" class="btn btn-secondary" title="Nouveau stock" (click)="_actionProduits('', produit,'stock')" ><i class="fas fa-folder-plus"></i></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!-- Paginations -->
                        <div class="d-flex justify-content-between p-2">
                          <ngb-pagination
                            [collectionSize]="collectionSize"
                            [(page)]="page"
                            [pageSize]="pageSize"
                            (pageChange)="getPremiumData()"
                          >
                          </ngb-pagination>
                        
                          <select
                            class="form-control"
                            style="width: auto"
                            [(ngModel)]="pageSize"
                            (ngModelChange)="getPremiumData()"
                          >
                            <option [ngValue]="5">5 lignes</option>
                            <option [ngValue]="10">10 lignes</option>
                            <option [ngValue]="25">25 lignes</option>
                            <option [ngValue]="50">50 lignes</option>
                          </select>
                        </div>
                        <!-- Paginations -->
                      </div>
                    </div>

                  </ng-template>

                
            </div>

          </div>
        

      </div>
    </div>
  </div>


  <!-- Large Modal -->
  <ng-template #largeDataModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">{{modalTitle}}</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
      <form class="needs-validation" [formGroup]="produitsData">
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Selectionner la catégorie</label>
                <select class="form-select" [(ngModel)]="idCategory" formControlName="p_categories" >
                    <option value="0" >--Selectionner--</option>
                    <option [value]="categorie.r_i"  class="form-control" *ngFor="let categorie of categoriesTab" >{{categorie.r_libelle}}</option>
                </select>
                <div *ngIf="f.p_categories.touched && f.p_categories.invalid" >
                  <div *ngIf="f.p_categories.errors.required" class="text-danger">
                    Veuillez sélectionner la catégorie
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom01">LIbellé du produit</label>
                <input type="text" class="form-control"  formControlName="p_libelle" [(ngModel)]="ligneProduit.r_libelle" >
                <div *ngIf="f.p_libelle.touched && f.p_libelle.invalid" >
                  <div *ngIf="f.p_libelle.errors.required" class="text-danger">
                    Veuillez saisir le libellé du produit
                  </div>
                  <div *ngIf="f.p_libelle.errors.pattern" class="text-danger">
                    Le Nom du produit est incorrect (Pas de symbole dans la chaine)
                  </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="validationCustom01">Stock initial</label>
                <input type="number" min="0" class="form-control" [readonly]=" modeAppel == 'modif'" formControlName="p_stock" [(ngModel)]="ligneProduit.r_stock" >
                <div *ngIf="f.p_stock.touched && f.p_stock.invalid" >
                  <div *ngIf="f.p_stock.errors.required" class="text-danger">
                    Stock initial obligatoire
                  </div>
                  <div *ngif="f.p_stock.errors?.min" >
                    Le stock minimum est de 1
                  </div>
                </div>
              </div>
            <div class="col-md-6">
                <label for="validationCustom01">En saisie par</label>
                <input type="text" disabled class="form-control" [(ngModel)]="userData.r_nom +' '+ userData.r_prenoms" [ngModelOptions]="{standalone: true}" >
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label for="validationCustom05">Description du produit</label>
              <textarea class="form-control" rows="3" formControlName="p_description" [(ngModel)]="ligneProduit.r_description" placeholder=""></textarea>
          </div>
          <div class="col-md-4 mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" title="fermer" class="btn btn-secondary" (click)="modal.close('Close click'); _resetForm();">Fermer</button>
      <button [disabled]="produitsData.invalid" type="button" title="Enregistrer" class="btn btn-primary" (click)="_register()">Enregistrer</button>
    </div>
  </ng-template>


    <!-- Tarification -->
    <ng-template #tarificationModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">{{modalTitle}}</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
      </div>
      <div class="modal-body">

        <ng-template [ngIf]="modeAppeltarif == 'saisie'" >
          <form class="needs-validation" [formGroup]="tarificationData">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Selectionner la catégorie</label>
                    <select class="form-select" disabled [(ngModel)]="idCategory" [ngModelOptions]="{standalone: true}" >
                        <option>--Selectionner--</option>
                        <option [value]="categorie.r_i"  class="form-control" *ngFor="let categorie of categoriesTab" >{{categorie.r_libelle}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom01">LIbellé du produit</label>
                    <input type="text" class="form-control" readonly [(ngModel)]="ligneProduit.r_libelle" [ngModelOptions]="{standalone: true}" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="validationCustom01">Quantité</label>
                    <input type="number" min="0" class="form-control" min="1" formControlName="p_quantite" [(ngModel)]="ligneTarification.r_quantite" >
                </div>
                <div class="col-md-4">
                    <label for="validationCustom01">Prix de location</label>
                    <input type="text" class="form-control" formControlName="p_prix_location" [(ngModel)]="ligneTarification.r_prix_location" >
                </div>
                <div class="col-md-4">
                  <label for="validationCustom01">Durée de la location</label>
                  <input type="number" class="form-control" min="1" formControlName="p_duree" [(ngModel)]="ligneTarification.r_duree" >
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label class="col-md-4 col-form-label">Période du</label>
                    <input class="form-control" type="date" name="p_date_debut" formControlName="p_date_debut" value="2019-08-19T13:45:00"
                              id="example-datetime-local-input">
                    <!-- <div *ngIf="formvalidate.p_date_envoie.touched && formvalidate.p_date_envoie.invalid" class="text-danger">
                          <div *ngIf="formvalidate.p_date_envoie.errors.required">Veuillez selectionnez le date de livraison.</div>
                    </div> -->
              </div>
              <div class="col-6">
                <label class="col-md-4 col-form-label">Au</label>
                    <input class="form-control" type="date" name="p_date_fin" formControlName="p_date_fin" value="2019-08-19T13:45:00"
                              id="example-datetime-local-input" >
                    <!-- <div *ngIf="formvalidate.p_date_retour.touched && formvalidate.p_date_retour.invalid" class="text-danger">
                        <div *ngIf="formvalidate.p_date_retour.errors.required">Veuillez selectionnez le date de retour des produits.</div>
                    </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="validationCustom05">Description de la catégorie</label>
                  <textarea class="form-control" rows="3" formControlName="p_description" placeholder=""></textarea>
              </div>
            </div>
          </form>
          <button type="button" title="Enregistrer" class="btn btn-primary m-2" style="float: right" (click)="_registerTarification()">Enregistrer</button>
        </ng-template>

        <button class="btn btn-success m-2" type="button" style="float: left" *ngIf="tarificationTab.length >= 1" (click)="_tarifAppliquer()" >Tarification à appliquer</button>
        <button *ngIf="modeAppeltarif !== 'saisie'" class="btn btn-warning m-2" type="button" style="float: right" (click)="_saisie_tarification()" >Nouvelle tarification</button>

        <table class="table mb-0 table-striped" >
          <thead class="bg-dark text-white">
            <tr>
              <th style="width:5%" >Choix</th>
              <!-- <th style="width:30%" >Produits</th> -->
              <th style="width:20%" >Prix location</th>
              <th style="width: 15%;">Durée</th>
              <th style="width: 20%;">Quantité</th>
              <th style="width: 20%;">Appliquer</th>
              <th style="width:15%" >Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of tarificationTab ; let i = index">
              <td style="width:5%" >
                <input type="radio" #inpValTarif class="form-check-input" [value]="i" [(ngModel)]="dkem" (change)="onChangeCheck(inpValTarif.checked,i)">
              </td>
              <!-- <td style="width:30%" >{{produit.r_libelle}}</td> -->
              <td style="width:20%" >{{produit.r_prix_location}}</td>
              <td style="width:15%" >{{produit.r_duree}} jour</td>
              <td style="width:20%" >{{produit.r_quantite}}</td>
              <td style="width:20%" *ngIf="produit.r_es_utiliser == 1" ><span class="badge badge-pill badge-soft-success font-size-12">Tarif appliqué</span></td>
              <td style="width:20%" *ngIf="produit.r_es_utiliser == 0" >--</td>
              
              <td style="width:15%">
                <button type="button" class="btn btn-primary" title="Modification" ><i class="fas fa-edit"></i></button>&nbsp;
              </td>
            </tr>
          </tbody>
      </table>

      
      </div>
      <div class="modal-footer">
        <button type="button" title="fermer" class="btn btn-secondary" (click)="modal.close('Close click');">Fermer</button>
        <!-- <button type="button" title="Enregistrer" class="btn btn-primary" (click)="_registerTarification()">Enregistrer</button> -->
      </div>
    </ng-template>
