<div class="container-fluid">
    <app-page-title title="Liste des produits" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div class="row mb-2">
              <div class="col-md-12 ">
                <button type="button" style="float: right;" class="btn btn-primary nouveau" title="Saisir un nouvelle catégorie de produits" (click)="_saisieProduits(largeDataModal)">Nouveau</button>
              </div>
            </div>


            <!-- Table -->
            <div class="table-responsive">
              <ng-template [ngIf]="viewTable == false" >
                <app-spinner></app-spinner>
            </ng-template>
            <ng-template [ngIf]="viewTable == true" >
              <!-- Search -->
            <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
              class="d-inline-flex ">Recherche:
              <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                aria-controls="tickets-table" [(ngModel)]="searChIn"></label>
            </div>
            <!-- End search -->
              <table class="table mb-0 table-striped" >
                <thead class="bg-dark text-white">
                  <tr>
                    <th style="width:35%" >Produits</th>
                    <th style="width:15%" >Quantité en stock</th>
                    <th style="width: 30%;">Description</th>
                    <th style="width:20%" >Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produit of produitsTab ; let i = index">
                    <td style="width:35%" >{{produit.r_libelle}}</td>
                    <td style="width:15%" >{{produit.r_stock}}</td>
                    <td style="width:30%" >{{produit.r_description}}</td>
                    <td style="width:20%">
                      <button type="button" class="btn btn-primary" title="Modification" (click)="_actionProduits(largeDataModal, produit,'modif')" ><i class="fas fa-edit"></i></button>&nbsp;
                      <button type="button" class="btn btn-warning" title="Tarification" (click)="_actionProduits(tarificationModal, produit,'tarification')" ><i class="fas fa-bars"></i></button>&nbsp;
                      <button type="button" class="btn btn-secondary" title="Nouveau stock" (click)="_actionProduits('', produit,'stock')" ><i class="fas fa-folder-plus"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </ng-template>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Large Modal -->
  <ng-template #largeDataModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">{{modalTitle}}</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
      <form class="needs-validation" [formGroup]="produitsData">
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Selectionner la catégorie</label>
                <select class="form-select" [(ngModel)]="idservice" formControlName="p_categories" >
                    <option>--Selectionner--</option>
                    <option [value]="categorie.r_i"  class="form-control" *ngFor="let categorie of categoriesTab" >{{categorie.r_libelle}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="validationCustom01">LIbellé du produit</label>
                <input type="text" class="form-control"  formControlName="p_libelle" [(ngModel)]="ligneProduit.r_libelle" >
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="validationCustom01">Stock</label>
                <input type="number" disabled min="0" class="form-control"  formControlName="p_stock" [(ngModel)]="ligneProduit.r_stock" >
            </div>
            <div class="col-md-6">
                <label for="validationCustom01">En saisie par</label>
                <input type="text" class="form-control" [(ngModel)]="userData.r_nom +' '+ userData.r_prenoms" [ngModelOptions]="{standalone: true}" >
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label for="validationCustom05">Description de la catégorie</label>
              <textarea class="form-control" rows="3" formControlName="p_description" [(ngModel)]="ligneProduit.r_description" placeholder=""></textarea>
          </div>
          <div class="col-md-4 mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" title="fermer" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
      <button type="button" title="Enregistrer" class="btn btn-primary" (click)="_register()">Enregistrer</button>
    </div>
  </ng-template>


    <!-- Tarification -->
    <ng-template #tarificationModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">{{modalTitle}}</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
      </div>
      <div class="modal-body">

        <ng-template [ngIf]="qteRetour == 1" >
          <form class="needs-validation" [formGroup]="tarificationData">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Selectionner la catégorie</label>
                    <select class="form-select" disabled [(ngModel)]="idservice" [ngModelOptions]="{standalone: true}" >
                        <option>--Selectionner--</option>
                        <option [value]="categorie.r_i"  class="form-control" *ngFor="let categorie of categoriesTab" >{{categorie.r_libelle}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom01">LIbellé du produit</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="ligneProduit.r_libelle" [ngModelOptions]="{standalone: true}" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="validationCustom01">Quantité</label>
                    <input type="number" min="0" class="form-control" min="1" formControlName="p_quantite" [(ngModel)]="ligneTarification.r_quantite" >
                </div>
                <div class="col-md-4">
                    <label for="validationCustom01">Prix de location</label>
                    <input type="text" class="form-control" formControlName="p_prix_location" [(ngModel)]="ligneTarification.r_prix_location" >
                </div>
                <div class="col-md-4">
                  <label for="validationCustom01">Durée de la location</label>
                  <input type="number" class="form-control" min="1" formControlName="p_duree" [(ngModel)]="ligneTarification.r_duree" >
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="validationCustom05">Description de la catégorie</label>
                  <textarea class="form-control" rows="3" formControlName="p_description" placeholder=""></textarea>
              </div>
            </div>
          </form>
        </ng-template>

        <ng-template [ngIf]="qteRetour == 0">
          <p>Pas de tarification</p>
          <button class="btn btn-warning" type="button" (click)="_majQteRetour()" >Nouvelle tarification</button>
        </ng-template>

      </div>
      <div class="modal-footer">
        <button type="button" title="fermer" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
        <button type="button" title="Enregistrer" class="btn btn-primary" (click)="_registerTarification()">Enregistrer</button>
      </div>
    </ng-template>
