<div class="container-fluid">
    <app-page-title title="Tarifications des produits" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  
            <div class="row mb-2" hidden>
              <div class="col-md-12 ">
                <button type="button" class="btn btn-primary nouveau" title="Saisir un nouvelle catégorie de produits">Nouveau</button>
              </div>
            </div>
            
  
           
            <!-- Table -->
            <div class="table-responsive">

                <ng-template [ngIf]="viewTable == false" >
                    <app-spinner></app-spinner>
                </ng-template>

                <ng-template [ngIf]="viewTable == true" >

                   <!-- Search -->
                    <div class="search-box me-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="term" />
                        <i class="bx bx-search-alt search-icon"></i>
                      </div>
                    </div>
                  <!-- End search -->

                    <table class="table mb-0 table-striped" >
                        <thead class="bg-dark text-white">
                          <tr>
                            <th style="width:50%" >Produits</th>
                            <th style="width:15%" >Prix location</th>
                            <th style="width:10%" >Quantité minimale</th>
                            <th style="width:15%;">Durée</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let produit of paginateData | filter:term ;let i = index;">
                            <td style="width:50%" >{{produit.r_libelle}}</td>
                            <td style="width:15%" >{{produit.r_prix_location}}</td>
                            <td style="width:10%" >{{produit.r_quantite}}</td>
                            <td style="width:15%" >{{produit.r_duree}} /jour</td>
                          </tr>
                        </tbody>
                    </table>
                    <!-- Paginations -->
                      <div class="d-flex justify-content-between p-2">
                        <ngb-pagination
                          [collectionSize]="collectionSize"
                          [(page)]="page"
                          [pageSize]="pageSize"
                          (pageChange)="getPremiumData()"
                        >
                        </ngb-pagination>

                        <select
                          class="form-control"
                          style="width: auto"
                          [(ngModel)]="pageSize"
                          (ngModelChange)="getPremiumData()"
                        >
                          <option [ngValue]="5">5 lignes</option>
                          <option [ngValue]="10">10 lignes</option>
                          <option [ngValue]="25">25 lignes</option>
                          <option [ngValue]="50">50 lignes</option>
                        </select>
                      </div>
                      <!-- Paginations -->

                </ng-template>
               
                        
              </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  <!-- Large Modal -->
  <ng-template #largeDataModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">{{modalTitle}}</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
     
    </div>
    <div class="modal-footer">
      <button type="button" title="fermer" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
      <button type="button" title="Enregistrer" class="btn btn-primary" >Enregistrer</button>
    </div>
  </ng-template>
  