<div class="container-fluid">
    <app-page-title title="Tarifications des produits" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  
            <div class="row mb-2" hidden>
              <div class="col-md-12 ">
                <button type="button" class="btn btn-primary nouveau" title="Saisir un nouvelle catégorie de produits">Nouveau</button>
              </div>
            </div>
            
  
           
            <!-- Table -->
            <div class="table-responsive">

                <ng-template [ngIf]="viewTable == false" >
                    <app-spinner></app-spinner>
                </ng-template>

                <ng-template [ngIf]="viewTable == true" >

                     <!-- Search -->
                    <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                        class="d-inline-flex align-items-center">Recherche:
                        <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                        aria-controls="tickets-table"></label></div>
                    <!-- End search -->

                    <table class="table mb-0 table-striped" >
                        <thead class="bg-dark text-white">
                          <tr>
                            <th style="width:50%" >Produits</th>
                            <th style="width:20%" >Prix location</th>
                            <th style="width: 15%;">Durée</th>
                            <th style="width:15%" >Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let produit of tarificationTab ; let i = index">
                            <td style="width:50%" >{{produit.r_libelle}}</td>
                            <td style="width:20%" >{{produit.r_prix_location}}</td>
                            <td style="width:15%" >{{produit.r_duree}} jour</td>
                            <td style="width:15%">
                              <button type="button" class="btn btn-primary" title="Modification" (click)="_actionProduits(largeDataModal)" ><i class="fas fa-edit"></i></button>&nbsp;
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </ng-template>
               
                        
              </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  <!-- Large Modal -->
  <ng-template #largeDataModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">{{modalTitle}}</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
     
    </div>
    <div class="modal-footer">
      <button type="button" title="fermer" class="btn btn-secondary" (click)="modal.close('Close click')">Fermer</button>
      <button type="button" title="Enregistrer" class="btn btn-primary" >Enregistrer</button>
    </div>
  </ng-template>
  